<<<<<<< HEAD
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

footer {
    width: 100%;
    padding: 12px 16px;
    background-color: #333c42;
    color: #ffffff;
    font-size: 18px;
    font-family:serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    footer {
        font-size: 18px;
        padding: 10px 12px;
    }
}
@media (max-width: 700px) {
    footer {
        font-size: 16px;
        padding: 10px 12px;
    }
}
@media (max-width: 600px) {
    footer {
        font-size: 16px;
        padding: 10px 12px;
    }
}
@media (max-width: 500px) {
    footer {
        font-size: 14px;
        padding: 10px 12px;
    }
}
@media (max-width: 300px) {
    footer {
        font-size: 12px;
        padding: 10px 12px;
    }
}
=======
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

footer {
    width: 100%;
    padding: 12px 16px;
    background-color: #333c42;
    color: #ffffff;
    font-size: 18px;
    font-family:serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    footer {
        font-size: 18px;
        padding: 10px 12px;
    }
}
@media (max-width: 700px) {
    footer {
        font-size: 16px;
        padding: 10px 12px;
    }
}
@media (max-width: 600px) {
    footer {
        font-size: 16px;
        padding: 10px 12px;
    }
}
@media (max-width: 500px) {
    footer {
        font-size: 14px;
        padding: 10px 12px;
    }
}
@media (max-width: 300px) {
    footer {
        font-size: 12px;
        padding: 10px 12px;
    }
}
>>>>>>> edafaa98b1e46eb25f70ddbe3a2d5eccda1a95b9
