body{
    margin: auto;
    margin-bottom: auto;
    background-color: #c4d2da;
    background-size: cover;
}

.formfuncionario{
    background-image:url(../img/fundo-form.png) ;
    opacity: 0.87;
    align-items: center;
    margin: auto;
    padding: 20px;
    background-color: #ffffffd8;
    border-color: 100px solid black;
    width:500px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 100px;
    box-shadow: 0 2px 4px black; 
}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 30px; 
    margin-top: 10px;   
}

.frase{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 20px; 
    margin-top: 10px;   
}

.dados{
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.estado .cidade{
    height: 30px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

input{
    align-items: center;
    height: 15px;
    width: 490px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.botão{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #4c94b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 900px) {
    .formfuncionario {
        margin-left: auto;
        width: 80%;
        padding: 15px;
    }

    input {
        width: 98%;
    }
}
@media (max-width: 800px) {
    .formfuncionario {
        margin-left: auto;
        width: 80%;
        padding: 15px;
    }

    input {
        width: 98%;
    }
}
@media (max-width: 700px) {
    .formfuncionario {
        margin-left: auto;
        width: 80%;
        padding: 15px;
    }

    input {
        width: 98%;
    }
}
@media (max-width: 600px) {
    .formfuncionario {
        margin-left: auto;
        width: 80%;
        padding: 15px;
    }

    input {
        width: 98%;
    }
}
@media (max-width: 500px) {
    .formfuncionario {
        margin-left: auto;
        width: 83%;
        padding: 15px;
    }

    input {
        width: 98%;
    }
}
@media (max-width: 400px) {
    .formfuncionario {
        margin-left: auto;
        width: 70%;
        padding: 15px;
    }

    input {
        width: 95%;
    }
}
@media (max-width: 300px) {
    .formfuncionario {
        margin-left: auto;
        width: 80%;
        padding: 15px;
    }

    input {
        width: 95%;
    }
}
