.logo{
    display: block;
    margin: 5px auto; 
    max-width: 400px;
    width: 310px;
    height: auto;
}

@media (max-width: 900px) {
    .logo {
        margin-left: auto;
        width: 350px;
        align-items: center;
        display: block;
    }
}
@media (max-width: 800px) {
    .logo {
        margin-left: auto;
        width: 350px;
        align-items: center;
        display: block;
    }
}
@media (max-width: 700px) {
    .logo {
        margin-left: auto;
        width: 250px;
        align-items: center;
        display: block;
    }
}
@media (max-width: 600px) {
    .logo {
        margin-left: auto;
        width: 250px;
        align-items: center;
        display: block;
    }
}
@media (max-width: 500px) {
    .logo {
        width:250px;
        align-items: center;
        display: block;
    }
}
@media (max-width: 400px) {
    .logo {
        width: 250px;
        align-items: center;
        display: block;
    }
}
@media (max-width: 300px) {
    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        align-items: center;
        display: block;
    }
}
